<h1><%= @course.name %> Tasks</h1>

  <h3><li></li></h3><br>
  <label><strong> Schedule:</strong></label>
  <li><%= @course.schedule %></li><br>
  <label><strong> Assignments:</strong></label>
  <li><%= @course.assignments %></li><br>
  <label><strong> Notes:</strong></label>
  <li><%= @course.notes %></li><br>

    <a href="/courses/<%=@course.id%>/edit"><button>Edit Course</button></a>

    <form action="/courses/<%= @course.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Course">
</form>

